server:
  port: 8081
  error:
    include-message: always
    include-binding-errors: always

spring:
  web:
    cors:
      allowed-origins:
        - "http://localhost:5173"
        - "http://my-app.local"
        - "https://terrilyn-zaniest-alesha.ngrok-free.dev"
      allowed-methods: "GET,POST,PUT,DELETE,OPTIONS"
      allowed-headers: "*"
      allow-credentials: true

  datasource:
    url: jdbc:h2:file:./data/finapp;AUTO_SERVER=TRUE;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true
  jpa:
    hibernate:
      ddl-auto: update   # dev = update, prod = validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.security.servlet.SecurityAutoConfiguration

logging:
  level:
    web: DEBUG
    org.springframework.security: DEBUG

